body{
    background-color: rgb(29, 27, 27);
    font-family: arial;
}
.calculator-button{
    margin-right: 10px;
    border-radius: 35px;
    height:70px;
    width:70px;
    font-size: 35px;
    border: none;
    cursor: pointer;
    margin-bottom: 15px;
    
}
.grey-button{
    background-color: gray;
    color:white;
}
.green-button{
    background-color: green;
    color:white;
}
.clear-button{
    font-size: 20px;
}
.calculation-appear{
    font-size: 50px;
    color:white;
    margin-bottom: 5px;
    margin-top: 15px;
}
.top-head{
    font-size:60px;
    color:white;
    margin-top: 15px;
    color:blueviolet;
    margin-bottom: 0;
    position: relative;
}
.author{
    position:absolute;
    top:70px;
    left:20px;
    margin-top: 0px;
    color: rgb(83, 38, 128);
}
.rate-me{
    margin-top: 40px;
    margin-bottom: 0px;
}
.star{
    margin-top: 0px;
    font-size: 30px;
    cursor:pointer;
    display:inline;
    color: grey ;
}

.star-clicked{
    color:orange;
}